include LICENSE
include README.md
include setup.py
recursive-include pytcg/inc *.h
recursive-include pytcg/libtcg build.sh *.so.*
recursive-include pytcg gen_cffi.py __init__.py *.so
recursive-exclude pytcg/libtcg/qemu *
